
<div>
  <h4>About/People</h4>
  {{outlet}}

  <table class="table table-striped table-hover table-condensed">
    <caption>Table caption</caption>
    <thead>
    <tr>
      <th>Index</th>
      <th>Item Id</th>
      <th>Contact Name</th>
      <th>Age</th>
      <th>Zip</th>
    </tr>
  </thead>
    <tbody>
    {{#each model as |item index|}}
      <tr>
        <td>{{index}}</td>
        <td>{{item.id}}</td>
        <td>{{item.firstName}} {{item.lastName}}</td>
        <td>{{item.age}}</td>
        <td>{{item.zip}}</td>
      </tr>
    {{/each}}
  </tbody>
  </table>
</div>
